<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Búsqueda por Categoría </title>
</head>
<body>
  <% for (let i = 0; i < productsResult.length; i++) { %>
    <ul>
        <li>
            <a href="/products/<%=productsResult[i].id%>"> <%= productsResult[i].nombre %> </a>
        </li>
    </ul>
  <% } %>      
</body>
</html>