<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Listado de Productos </title>
</head>
<body>
    <h1> Listado de Productos </h1>
        <ul>
            <% for (let i = 0; i < products.length; i++) { %>
                <li>
                    <a href="/products/<%=products[i].id%>"> <%= products[i].nombre %> </a>
                    <form action="/products/<%=products[i].id%>?_method=DELETE" method="POST">
                    <button type="submit"> Eliminar Producto </button>
                    </form>
                </li>
            <% } %>    
        </ul>

    <h2> Buscar por id </h2>
        <form action="/products/buscarPorId" method="GET">
            <input type="text" name="id" placeholder="Ej: 0, 1, 2, etc.">
            <input type="submit" value="Buscar">
        </form>

    <h2> Buscar por Categoría </h2>
        <form action="/products/buscarPorCategoria" method="GET">
            <input type="text" name="categoria" placeholder="Ej: Vinos, Cervezas, Espirituosas, etc.">
            <input type="submit" value="Buscar">
        </form>
</body>
</html>