<!DOCTYPE html>

<html>

<head>

	<title>Drinking Time - Carrito</title>
	<link rel="stylesheet" type="text/css" href="/css/carrito.css">
  <link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<header class="main-header">
        <div class="logo">
            <a href="/"><img src="/images/ultimointento.png" alt="logo Drinking"></a>
        </div>
        
        <div class="menu-principal">
            <div class="topnav">
                <a href="/Cervezas">Cervezas</a>
                <a href="/Vinos">Vinos</a>
                <a href="/Licores">Licores</a>
                <a href="/Packs">Packs</a>
                <a href="/Gift Cards">Gift Cards</a>
                <a href="/Extras">Extras</a>
            </div>
        </div>
        <div class="menu-secundario">
    
            <div class="burger-menu">
                <button id="burger-btn"><i class="fas fa-bars"></i></button>
                <div class="topnav-burger">
                    <a href="/Home">Home</a>
                    <a href="/Cervezas">Cervezas</a>
                    <a href="/Vinos">Vinos</a>
                    <a href="/Licores">Licores</a>
                    <a href="/Packs">Packs</a>
                    <a href="/Gift Cards">Gift Cards</a>
                    <a href="/Extras">Extras</a>
                </div>
            </div>
    
            <a href="/products/cart"><button id="iconos" class="fas fa-store"></button></a>
                
                    <a href=#buscar><button id="iconos" class="fas fa-search"></button></a>
            <a href="/users/login"><button id="iconos" class="fas fa-user-ninja"></button></a>
        </div>
    </header>


<section>
<div class="contenedor">

	<h1>Tu carrito</h1>

	<div class="carrito">

		<div class="productos">

			<div class="producto">

				<img src="/images/D_NQ_NP_610448-MLA42096387758_062020-O.webp">

				<div class="info-producto">

					<h3 class="nombre-producto">Vino Sutil Malbec</h3>

					<h4 class="precio-producto"> <s>$1.100</s> $550</h4>

					<h4 class="descuento">-50%!</h4>

					<p class="cantidad-producto">Cantidad: <input value="1" name="">

						<button class="boton" > <i class="fa fa-trash" aria-hidden="true"></i>

						<span class="quitar">Quitar</span>

					</p>

				</div>

			</div>

			<div class="producto">

				<img src="/images/D_NQ_NP_903400-MLA41153632419_032020-V.webp">

				<div class="info-producto">

					<h3 class="nombre-producto">Cerveza Grolch x4</h3>
 
					<h4 class="precio-producto"> <s>$1.200</s> $720</h4>

					<h4 class="descuento">-40%!</h4>

					<p class="cantidad-producto">Cantidad: <input value="1" name="">

						<button class="boton" > <i class="fa fa-trash" aria-hidden="true"></i>

            <span class="quitar">Quitar</span>

				</div>

			</div>

		</div>

		<div class="total">

			<p>

				<span>Total:</span>

				<span>$1.270</span>

			</p>

			<p>

				<span> Cantidad de productos:</span>

				<span>2</span>

			</p>

			<p>

				<span> <a class="calcular-envio" href="#">Calcular envio</a> </span>


			</p>

			<a class="completar-compra" href="#">¡Completar compra!</a>

		</div>

	</div>

</div>
</section>

<section>
  <div class="contenedor2"> <h3>¡Productos recomendados!</h3> 
    <div class="productos-recomendados">
    <div class="producto-recomendado">
      <img src="/images/Vodka-Smirnoff.png" alt="vodka-smirnoff">
      <h5> <b> Vodka Smirnoff 1L </b></h5>
      <p class="precio-producto">$600</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    <div class="producto-recomendado">
      <img src="/images/92_2048x2048.jpg" alt="Fernet">
      <h5> <b> Fernet Branca 750ml </b></h5>
      <p class="precio-producto">$450</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    <div class="producto-recomendado">
      <img src="/images/5011007003067_1_default_default.jpg" alt="Whikey">
      <h5> <b> Whiskey Jameson 1L</b></h5>
      <p class="precio-producto">$760</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    </div>
  </div>
</section>
<footer>
  <section  class="preguntas-frecuentes">
      <h3 class="titulos">Preguntas frecuentes</h3>
      <ul>
          <li><a href="#">¿Cómo comprar?</a></li>
          <li><a href="#">Costos de envios</a></li>
          <li><a href="#">Boton de arrepentimiento</a></li>
      </ul>
  </section>

  <section class="empresas">
      <h3 class="titulos">Empresas</h3>
      <ul>
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Regalos empresariales</a></li>
      </ul>
  </section>
  <div class="redes">
      <p>Sigamos en contacto</p>
      <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
      <a class="instagram" href=""><i class="fab fa-instagram"></i></a>
      <a class="mail" href=""><i class="fas fa-at"></i></a>
  </div>
</footer>



</body>


</html>

