<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Drinking Time </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
<body>
    <!-- Header -->
    <header class="main-header">
        <div class="logo">
            <a href="/"><img src="/images/ultimointento.png" alt="logo Drinking"></a>
        </div>
        
        <div class="menu-principal">
            <div class="topnav">
                <a href="/Cervezas">Cervezas</a>
                <a href="/Vinos">Vinos</a>
                <a href="/Licores">Licores</a>
                <a href="/Packs">Packs</a>
                <a href="/Gift Cards">Gift Cards</a>
                <a href="/Extras">Extras</a>
            </div>
        </div>
        <div class="menu-secundario">
    
            <div class="burger-menu">
                <button id="burger-btn"><i class="fas fa-bars"></i></button>
                <div class="topnav-burger">
                    <a href="/Home">Home</a>
                    <a href="/Cervezas">Cervezas</a>
                    <a href="/Vinos">Vinos</a>
                    <a href="/Licores">Licores</a>
                    <a href="/Packs">Packs</a>
                    <a href="/Gift Cards">Gift Cards</a>
                    <a href="/Extras">Extras</a>
                </div>
            </div>
    
            <a href="/carrito"><button id="iconos" class="fas fa-store" alt="carrito"></button></a>
                
                    <a href=#buscar><button id="iconos" class="fas fa-search"></button></a>
            <a href="/login"><button id="iconos" class="fas fa-user-ninja"></button></a>
            <a href="/registro"><button id="iconos" class="fas fa-id-badge"></button></a>
        </div>
    </header>
    <!-- Sección principal -->
    <section class="registro-login">
        <div class="facebook"> 
            <a href="#"><i class="fab fa-facebook-square"> </i> <span class="registrate-con-facebook"> Ingresá con Facebook </span></a>
        </div>
        <div class="division">
            <div class="linea"> </div>
            <div class="o"> o </div>
            <div class="linea"> </div>
        </div>
        <div class="registrate-con-email"> Ingresá con tu email y contraseña </div>
        <form class="form" action="/" method="GET">
            <div class="datos">
                <input type="email" name="email" placeholder="Email">    
            </div>
            <div class="datos">
                <input type="password" name="contraseña" placeholder="Contraseña">    
            </div>
            <div class="datos"> 
                <a href="#"> ¿Olvidaste tu contraseña? </a>
            </div>
            <div class="datos">
                <button class="boton-rl" type="submit"> Ingresá </button>
            </div>
            <div class="datos"> 
                ¿Todavía no sos cliente? Registrate <a href="/registro"> acá </a> 
            </div>
        </form>
    </section>
</body>
</html>