
* { 
  box-sizing: border-box; 
}

main{
  width: 100%;
}

body{
  width: 100%;
  background-color: #dcd6f7;
}

/*header*/

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 2px solid rgb(43, 43, 43);
  padding-bottom: 05px;
  padding-top: 10px;
  background-color:#424874 ;
}

.logo {
  display: flex;
  padding: 0px 16px 0px 16px;
  text-align: center;
  width: 10%;
}

.logo img {
  width:100%;
  height: 100%;
}

.menu-principal{
  display: none;
  flex-wrap: nowrap;
  align-self: flex-end;
  justify-content: center;
  padding-left: 150px;
}

/* Menu principal*/
.topnav a {
  display: flex;
  flex-wrap: nowrap;
  float: left;
  color: #a6b1e1;
  text-align: center;
  padding: 0 35px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600
}
/* Botones del menu principal */
.topnav a:hover {
  color: #f4eeff;
  
}


.menu-secundario{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 8px 0px 0px;
  flex-grow: 1;
}


.burger-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.topnav-burger {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border-radius: 2px;
  top: 15vh;
  z-index: 2;
}
/* MENU BURGER MENU LETRAS*/
.topnav-burger a {
  color: #424874;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 3vw;
  font-family: Raleway;
  font-weight: 800
}

.topnav-burger a:hover {color: rgb(119, 119, 119)}

.burger-menu:hover .topnav-burger {
  display: block;
}

.burger-menu:hover #burger-btn {
 color: #1985A1;
 border: none;
 text-decoration: none;
}

#burger-btn {
  text-decoration: none;
  background-color: transparent ;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: #dcd6f7;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  font-size: 30px;
}

#iconos{
  text-decoration: none;
  background-color: #424874;
  text-align: center;
  font-size: 20px;
  border: none;
  color: #872428;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

#iconos:hover {
  opacity: 1
}

/*slider*/

/* SLIDER*/
.banner img{
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.envios{
  justify-content: center;
  width: 100%;
}

.banner2 img{
  width: 90%;
  height: 450px;
  object-fit: cover;
  margin-top: 05px;
  justify-content: center;
  margin-left: 5%;

}
/*botones de envio*/
.boton{
  background-color:#dcd6f7 ;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #424874;
  font-weight: bold;
  border: none;
  transition-duration: 0.5s;
  width: 47%;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: 20px;

}
.boton:hover{
  background-color: #424874;
  color: #fff;
}
.boton2{
  margin-left: 2%; 
}
.boton1{
  margin-left: 2%;
}

/* main*/

h3{
  text-align: center;
  color: #424874;
  font-size: 30px;
  font-style: italic;
}

/* productos*/

p{
  font-size: 12px;
}

div.last-visit,
div.offers{
  display: flex;
  flex-wrap: wrap;
  border: grey solid 15px;
}

img{
  width: 100%;
  object-fit: cover;
}

.price{
  font-size: 18px;
  width: 30%;
}

.discount{
  width: 70%;
}


.description{
  font-size: 16px;
  font-weight: normal;
}



.description{
  color: #666;
  display: none;
  margin-top: 20px;
}

h4 {
  color: #424874;
}

section.banner img{
  width: 100%;
}

main{
  width: 90%;
  margin: 0 auto;
}


main section article{
  background-color: #fff;    
  margin: 10px 0px;
}


main section article:hover .description {
  display: block;
  border:none
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100,100);
}


main section article img{
  width: 100%;
  height: 100%;
}

main section article i{
  color: #424874;
}



/* Icono camion */
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 0.5s;
}


main section article:hover i{
  transform:rotate(-360deg);
}
main section h3{
  margin: 20px 0px;
}

article div.articulos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.otras-opciones{
  height: 800px;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.otras-opciones img{
width: 50%;
height: 500px;
object-fit: cover;
float: left;
}

.otras-opciones p{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: right;
  color: #424874;
  font-style: italic;
}



@media (min-width: 550px){
  main section div.products article{
    width: 30%;
    height: 30%;

} 
  .topnav-burger {
      width: 30vw;
      top: 18vh;
      z-index: 2;
  }
  
  .topnav-burger a {
      font-size: 2vw;
  }
  
  main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.products article{
    width: 45%;
}
.price
{
    width: 50%;
}

@media screen and (min-width: 769px) {
  .menu-principal{
    display: flex;
}

.topnav a {
  display: flex;
  flex-wrap: nowrap;
  float: center;
  color: #a6b1e1;
  text-align: center;
  padding: 0 9px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}



.burger-menu {
    display: none;
}
  
  main section div.products article{
    width: 30%;
    height: 30%;

} 
  .topnav-burger {
      width: 30vw;
      top: 18vh;
      z-index: 2;
  }
  
  .topnav-burger a {
      font-size: 2vw;
  }
  .logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 15%;
  }
}



@media screen and (min-width: 1025px) {
  .menu-principal{
      display: flex;
  }

  .burger-menu {
      display: none;
  }

  .logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 10%;
  }

  .topnav a {
    display: flex;
    flex-wrap: nowrap;
    float: center;
    color: #a6b1e1;
    text-align: center;
    padding: 0 25px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }


}