<!DOCTYPE html>

<html>

  <%- include('./partials/head') %>

<body>
  
  <%- include('./partials/header') %>

<section>
<div class="contenedor">

	<h1>Tu carrito</h1>

	<div class="carrito">

		<div class="productos">

			<div class="producto">

				<img src="/images/D_NQ_NP_610448-MLA42096387758_062020-O.webp">

				<div class="info-producto">

					<h3 class="nombre-producto">Vino Sutil Malbec</h3>

					<h4 class="precio-producto"> <s>$1.100</s> $550</h4>

					<h4 class="descuento">-50%!</h4>

					<p class="cantidad-producto">Cantidad: <input value="1" name="">

						<button class="boton" > <i class="fa fa-trash" aria-hidden="true"></i>

						<span class="quitar">Quitar</span>

					</p>

				</div>

			</div>

			<div class="producto">

				<img src="/images/D_NQ_NP_903400-MLA41153632419_032020-V.webp">

				<div class="info-producto">

					<h3 class="nombre-producto">Cerveza Grolch x4</h3>
 
					<h4 class="precio-producto"> <s>$1.200</s> $720</h4>

					<h4 class="descuento">-40%!</h4>

					<p class="cantidad-producto">Cantidad: <input value="1" name="">

						<button class="boton" > <i class="fa fa-trash" aria-hidden="true"></i>

            <span class="quitar">Quitar</span>

				</div>

			</div>

		</div>

		<div class="total">

			<p>

				<span>Total:</span>

				<span>$1.270</span>

			</p>

			<p>

				<span> Cantidad de productos:</span>

				<span>2</span>

			</p>

			<p>

				<span> <a class="calcular-envio" href="#">Calcular envio</a> </span>


			</p>

			<a class="completar-compra" href="#">¡Completar compra!</a>

		</div>

	</div>

</div>
</section>

<section>
  <div class="contenedor2"> <h3>¡Productos recomendados!</h3> 
    <div class="productos-recomendados">
    <div class="producto-recomendado">
      <img src="/images/Vodka-Smirnoff.png" alt="vodka-smirnoff">
      <h5> <b> Vodka Smirnoff 1L </b></h5>
      <p class="precio-producto">$600</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    <div class="producto-recomendado">
      <img src="/images/92_2048x2048.jpg" alt="Fernet">
      <h5> <b> Fernet Branca 750ml </b></h5>
      <p class="precio-producto">$450</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    <div class="producto-recomendado">
      <img src="/images/5011007003067_1_default_default.jpg" alt="Whikey">
      <h5> <b> Whiskey Jameson 1L</b></h5>
      <p class="precio-producto">$760</p>
      <p><button class="boton-recomendado">Agregar al carrito</button></p>
    </div>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>


</body>


</html>

