<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head')%>

    <!-- Header -->
    
    <%- include('./partials/header')%>

    <!-- Sección principal -->
    <section class="registro-login">
        <div class="facebook"> 
            <a href="#"><i class="fab fa-facebook-square"> </i> <span class="registrate-con-facebook"> Ingresá con Facebook </span></a>
        </div>
        <div class="division">
            <div class="linea"> </div>
            <div class="o"> o </div>
            <div class="linea"> </div>
        </div>
        <div class="registrate-con-email"> Ingresá con tu email y contraseña </div>
        <form class="form" action="/" method="GET">
            <div class="datos">
                <input type="email" name="email" placeholder="Email">    
            </div>
            <div class="datos">
                <input type="password" name="contraseña" placeholder="Contraseña">    
            </div>
            <div class="datos"> 
                <a href="#"> ¿Olvidaste tu contraseña? </a>
            </div>
            <div class="datos">
                <button class="boton-rl" type="submit"> Ingresá </button>
            </div>
            <div class="datos"> 
                ¿Todavía no sos cliente? Registrate <a href="/registro"> acá </a> 
            </div>
        </form>
    </section>
    

    <%- include('./partials/footer')%>
</body>
</html>