<footer>
    <section  class="preguntas-frecuentes">
        <h3 class="titulos">Preguntas frecuentes</h3>
        <ul>
            <li><a href="#">¿Cómo comprar?</a></li>
            <li><a href="#">Costos de envios</a></li>
            <li><a href="#">Boton de arrepentimiento</a></li>
        </ul>
    </section>

    <section class="empresas">
        <h3 class="titulos">Empresas</h3>
        <ul>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Regalos empresariales</a></li>
        </ul>
    </section>
    <div class="redes">
        <p>Sigamos en contacto</p>
        <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
        <a class="instagram" href=""><i class="fab fa-instagram"></i></a>
        <a class="mail" href=""><i class="fas fa-at"></i></a>
    </div>
</footer>