<header class="main-header">
    <div class="logo">
        <a href="/"><img src="/images/ultimointento.png" alt="logo Drinking"></a>
    </div>
    <div class="menu-principal">
        <div class="topnav">
            <a href="/products/productos">Productos</a>
            <a href="/Cervezas">Cervezas</a>
            <a href="/Vinos">Vinos</a>
            <a href="/Licores">Licores</a>
            <a href="/Packs">Packs</a>
            <a href="/Gift Cards">Gift Cards</a>
            <a href="/Extras">Extras</a>
        </div>
    </div>
    <div class="menu-secundario">

        <div class="burger-menu">
            <button id="burger-btn"><i class="fas fa-bars"></i></button>
            <div class="topnav-burger">
                <a href="/">Home</a>
                <a href="/products/productos">Productos</a>
                <a href="/Cervezas">Cervezas</a>
                <a href="/Vinos">Vinos</a>
                <a href="/Licores">Licores</a>
                <a href="/Packs">Packs</a>
                <a href="/Gift Cards">Gift Cards</a>
                <a href="/Extras">Extras</a>
            </div>
        </div>
        
        
        <% if (locals.isLogged){ %>
             <p>Hola, amig@ <%= locals.userLogged.nombreYApellido%></p>   
            <a href="/users/perfilDeusuario"><button id="iconos">Mi perfil</button></a>
            <a href="/users/logout"><button id="iconos">Logout</button></a>
            <a href="/users/carrito"><button id="iconos" class="fas fa-store" alt="carrito"></button></a>
            <a href=#buscar><button id="iconos" class="fas fa-search"></button></a>
       <% } else {  %>
        <a href="/users/login"><button id="iconos" class="fas fa-user-ninja"></button></a>
        <a href="/users/register"><button id="iconos" class="fas fa-id-badge"></button></a>
        <a href=#buscar><button id="iconos" class="fas fa-search"></button></a>
        <% } %>
    </div>
</header>